<%= form_for Url.find(params[:id]) do |f| %>
	<tr>
		<td>
			<%= f.label :url %>
			<%= f.text_field :url, placeholder: "Feed"%>
		</td>
	

		<% ["monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "sunday"].each do |dow| %>

			<td>
				<%= f.label dow, dow.titleize %>
				<%= f.check_box dow %>
			</td>
		<% end %>
		<td><%= f.submit %></td>
	</tr>
<% end %>