<div class="container">
	<p class="welcomename"><%= "Welcome, #{current_user.name}"%></p>
	<div class="col-md-4">
		<strong>Upcoming Scheduled Tweets</strong>
		<ul>
			<% current_user.posts.order(scheduled_at: :desc).limit(5).each do |post| %>
				<li><%= post.status %></li>
				<li><%= link_to "Edit", edit_post_path(post) %></li>
			<% end %>
		</ul>
		<%= link_to "Schedule More", posts_path %>
	</div>

	<div class="col-md-4">
		<strong>Current Favourite Sites</strong></br>
		<% @urls.each do |url| %>
			<p><%= url.url %></p>
		<% end %>
		<a href="/urls/new">Add More</a>
	</div>
</div>
