<div class="container">

	<p class="welcomename"><%= "Welcome, #{current_user.name}"%></p>

	<div class="col-md-12">
		<div class="panel panel-info">
			<div class="panel-heading">
				<% if current_user.urls.nil? %>
					<h3 class="panel-title">Step 1: Add a blog or website that you read a lot</h3>
					<% else %>
					<h3 class="panel-title">What Blogs Are You Reading Lately?</h3>
				<% end %>
			</div>
			<div class="panel-body">
				<table class="table table-hover">
					<% if current_user.urls == nil? %>
						<tr><a href="/urls/new">Add Your First Blog</a></tr>
					<% else %>
						<tr><a href="/urls/new">Add Them Here</a></tr>
					<% end %>
				</table>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Upcoming Scheduled Tweets</h3>
			</div>
			<div class="panel-body">
				<table class="table table-hover">
					<% if current_user.posts.count == 0%>
						<h4>Your upcoming scheduled tweets will appear.. once you schedule some!</h4>
					<% else %>
						<% current_user.posts.where(sent: false).order(scheduled_at: :asc).limit(5).each do |post| %>
							<tr>
								<td><%= post.status %></td>
								<td><%= post.scheduled_at.localtime.strftime("%B, %d, %I:%M %p") %></td>
								<td><%= link_to "Edit", edit_post_path(post) %></td>
								<td><%= link_to "Delete", post_path(post), method: :delete, data: { confirm: 'Are you sure you want to delete this?' } %></td>
								<td><%= link_to "Share Now", tweet_now_path, method: :post %></td>
							</tr>
						<% end %>
					<% end %>
				</table>
				<%= link_to "Schedule Tweets", posts_path %>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Current Favourite Sites</h3>
			</div>
			<div class="panel-body">
				<table class="table table-hover">
					<% if current_user.urls.count == 0 %>
						<h4>Your favourite sites will be listed here.. once you add some!</h4>
					<% else %>
						<% @urls.each do |url| %>
							<tr>
								<td><p><%= url.url %></p></td>
								<td><%= link_to "Edit", edit_url_path(url) %></td>
								<td><%= link_to "Delete", url_path(url), method: :delete, data: { confirm: 'Are you sure you want to delete this?' } %></td>
							</tr>
						<% end %>
					<% end %>
					<tr><a href="/urls/new">Add more favourite sites</a></tr>
				</table>
			</div>
		</div>
	</div>


	<div class="col-md-6">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Compose your own tweet</h3>
			</div>
			<div class="panel-body">
					<%= form_tag '/send_tweet', method: :post do %>
						<textarea class="form-control" name="tweet" rows="3" id="comment" placeholder="Compose your scheduled tweet."/></textarea><br>
						<div class="col-lg-5">
							<%= render 'layouts/datepicker' %>
						</div>
						<div class="col-lg-4">
							<input type="submit" class="btn btn-info" value="Schedule my Tweet"/>
						</div>
					</div>
					<% end %>
			</div>
		</div>
	</div>
</div>
</div>
