<h3>This post from <em><%= @feed.title %></em> will be Tweeted on behalf of <em>@<%= @post.handle %></em> at some point:</h3>

<ul>
	<% @entries.each do |entry| %>
		<li>[<%= @feed.title %>] <%= entry.title %> <%= entry.url %></li>
	<% end %>
</ul>

