<h3>This post from <em><%= @feed.title %></em> will be Tweeted on behalf of <em>@<%= @post.handle %></em> at some point:</h3>

<p>[<%= @feed.title %>] <%= @entries[1].title %> <%= @entries[1].url %></p>

