<div class="container">

<div class="page-header">
<h1>wut</h1>
</div>

<div class="row">
	<% @entries.each do |entry| %>
		
		  <div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
		      <div class="caption">
		        <h3><a href="<%= entry.url %>"><%= entry.title %></h3>
		        <p><%= entry.summary %></p>
		        <%= form_tag("/tweet_now", method: "post") do %>
		        <input name="status" type="hidden" value="<%= entry.title %> <%= entry.url %>" />
		        <p><input type="submit" value="Share Now"/>
				<% end %>	
 				<a href="#" class="btn btn-default" role="button">Schedule</a></p>
		      </div>
		    </div>
		  </div>
	<% end %>
</div>

</div>



