<!DOCTYPE html>
<html>
<head>
  <title>SimpleSocial</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<nav class="navbar">
  <div class="container-fluid">
      <a class="logo" href="/">Simple Social</a>
  		<a class="login" href="/login">Log In</a>
  </div>
</nav>

<div class="jumbotron">
	<div class="container">
		<h1>We grow your social accounts so you don't have to</h1>
		<h2>We launch in 8 weeks. Add your email to get notified.</h2>
	</div>
</div>


<%= yield %>

</body>
</html>
